<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Expense Manager">
        <meta name="keywords" content="expenses, receipts">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>Welcome {{ user.username }}</li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url "home" %}">Receipts</a>
                        </li>
                        <li>
                            <a href="{% url "account_list" %}">Accounts</a>
                        </li>
                        <li>
                            <a href="{% url "category_list" %}">Expense Categories</a>
                        </li>
                        <li>
                            <a href="{% url "create_receipt" %}">Create Receipt</a>
                        </li>
                        <li>
                            <a href="{% url "create_account" %}">Create Account</a>
                        </li>
                        <li>
                            <a href="{% url "create_category" %}">Create Expense Category</a>
                        </li>

                    {% else %}
                        <li>
                            <a href="{% url "signup" %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
